.Box_Principal{

    width: 100vw;
    height: 100vh;
    

    .head{

       
        width: 100vw;
        max-height: 239px;

        
         background-image: url('../../../public/assets/images/Group_4_1.png');
         background-size: cover;
         background-repeat: no-repeat;
         background-size: 100% 100%;
       
        .div_img{

            margin-left: 100px;

        }
            
            
            div_logo{

           
                
                    
        
                .img_1{

                    height: 150px;
    
                }
        
               }



    }







}